@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #696969;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100vw;
  height: 46px;
  background-color: rgb(41, 41, 41);
  padding: 10px 20px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.postsContainer {
  border: 1px solid rgb(219, 219, 219);
  padding: 4px 4px;
  margin: 20px 10px;
}

#title {
  font-family: 'Roboto Condensed', sans-serif;
  width: 380px;
  font-size: 18px;
  padding: 6px 10px;
  margin-bottom: 6px;
  border: 1px solid rgb(219, 219, 219);
}

#body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 380px;
  height: 100px;
  font-size: 18px;
  padding: 6px 10px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
}

::placeholder {
  color: #c7c7c7;
}

.lead {
  margin-bottom: 10px;
}

.post-submit {
  font-family: 'Roboto Condensed', sans-serif;
  width: 380px;
  font-size: 16px;
  padding: 6px 10px;
  border: none;
  background-color: #8070d6;
  color: white;
  margin-bottom: 0;
}

footer {
  text-align: center;
  width: 100vw;
  background-color: #f1f1f1;
  font-size: 16px;
  padding: 16px 0;
}


.card {
  border: 1px solid rgb(219, 219, 219);
  padding: 20px 20px;
  margin: 20px;
}

.card-text {
  font-size: 18px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.alert {
  margin: 0 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.alert-success {
  width: 420px;
  background: transparent; 
  border: 1px solid #9d90e2;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 4px 6px;
  color: #9d90e2;
}

.alert-danger {
  width: 420px;
  background: transparent; 
  border: 1px solid #ff6262;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 4px 6px;
  color: #ff6262;
}

.post-submit-warning{
  font-family: 'Roboto Condensed', sans-serif;
  width: 380px;
  font-size: 16px;
  padding: 6px 10px;
  border: none;
  background-color: #d67070;
  color: white;
  margin-bottom: 5px;
}

.post-cancel{
  font-family: 'Roboto Condensed', sans-serif;
  width: 380px;
  font-size: 16px;
  padding: 6px 10px;
  border: none;
  background-color: #eeeeee;
  color: rgb(53, 53, 53);
  margin-bottom: 0;
}
}